.page-header img {
    width: 100px;
    height: 100px;
    margin-top: -80px;
}

form div.input-group {
    margin-top: 20px;
}

.spk-inner-addon > .glyphicon {
    z-index: 2;
}

.spk-input-feedback {
    display: none;
}

.spk-input-feedback.glyphicon-ok {
    color: green;
}

#branches .spk-input-feedback {
    right: 35px;
}

form div.input-group .form-control:not(:first-child):not(:last-child) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.nav.nav-tabs {
    margin-bottom: 15px;
}

.spk-footer-items {
    left: auto;
    right: auto;
    text-align: center;
    margin-bottom: 20px;
}

.spk-footer-items img {
    margin-top: -2px;
}

.spk-footer-items > li:not(:first-child) {
    padding-left: 8px;
    border-left: solid 1px lightgray;
}

#branches > li {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spk-branch input {
    width: 87%;
}

#issues > li {
    margin-top: 15px;
    margin-bottom: 15px;
}

#issues > li > ul > li {
    min-width: 160px;
}