<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/settings.css">

    <title>Spokesman Settings - Chrome Extensions</title>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32410648-9']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = 'https://ssl.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Spokesman v1.1.0 - Settings page</h1>
                <img class="pull-right" src="../img/megaphone17-128.png">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Username and access token <span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></h3>
                </div>
                <div class="panel-body">
                    <form role="form">

                        <div>
                            <div class="input-group spk-inner-addon spk-right-addon">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" id="username" placeholder="barriosnahuel">
                                <span id="usernameCheck" class="glyphicon glyphicon-ok spk-input-feedback" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="input-group spk-inner-addon spk-right-addon">
                            <span class="input-group-addon">access token</span>
                            <input type="text" class="form-control" id="accessToken" placeholder="asjoh1oi2ho135h21ohfasoaoih241o">
                            <span id="accessTokenCheck" class="glyphicon glyphicon-ok spk-input-feedback" aria-hidden="true"></span>
                        </div>
                        <p class="help-block">access token will <span class="spk-text-emphasis">not</span> be synced to prevent attackers to use your personal
                            access
                            token.</p>
                    </form>

                    <p>
                        if you don't know how to create your personal access token, just follow the steps on <a target="_blank"
                                                                                                                href="https://help.github.com/articles/creating-an-access-token-for-command-line-use">this
                        link</a> and take into account that the only required permission is <code>repo</code>.
                    </p>

                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Configure which kind of events you want to receive</h3>
                </div>
                <div class="panel-body">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#branchesTab" role="tab" data-toggle="tab">Branches</a></li>
                        <li role="presentation"><a href="#issueActionsTab" role="tab" data-toggle="tab">Issues</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="branchesTab">
                            <p>branches I want to be notified after any
                                <a target="_blank" href="https://developer.github.com/v3/activity/events/types/#createevent"><code>CreateEvent</code></a>,
                                <a target="_blank" href="https://developer.github.com/v3/activity/events/types/#deleteevent"><code>DeleteEvent</code></a> or
                                <a target="_blank" href="https://developer.github.com/v3/activity/events/types/#pushevent"><code>PushEvent</code></a>.
                            <ul id="branches" class="list-unstyled"></ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="issueActionsTab">
                            <p>Configure actions on issues for which you want to be notified. See <a target="_blank"
                                                                                                     href="https://developer.github.com/v3/activity/events/types/#issuesevent">this
                                link</a> to give a deep look to the
                                <code>IssuesEvent</code></p>
                            <ul id="issues" class="list-unstyled">
                                <li>
                                    <ul class="list-inline">
                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="opened">
                                                Opened
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="closed">
                                                Closed
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="reopened">
                                                Reopened
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="assigned">
                                                Assigned
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="unassigned">
                                                Unassigned
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="labeled">
                                                Labeled
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" data-toggle="toggle" value="unlabeled">
                                                Unlabeled
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>More info</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Supported events <span class="glyphicon glyphicon-star pull-right" aria-hidden="true"></span></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group" id="supportedEvents">
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Still unsupported events...</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item disabled">DeploymentEvent</li>
                        <li class="list-group-item disabled">DeploymentStatusEvent</li>
                        <li class="list-group-item disabled">DownloadEvent</li>
                        <li class="list-group-item disabled">FollowEvent</li>
                        <li class="list-group-item disabled">ForkEvent</li>
                        <li class="list-group-item disabled">ForkApplyEvent</li>
                        <li class="list-group-item disabled">GistEvent</li>
                        <li class="list-group-item disabled">GollumEvent</li>
                        <li class="list-group-item disabled">MemberEvent</li>
                        <li class="list-group-item disabled">MembershipEvent</li>
                        <li class="list-group-item disabled">PageBuildEvent</li>
                        <li class="list-group-item disabled">PublicEvent</li>
                        <li class="list-group-item disabled">RepositoryEvent</li>
                        <li class="list-group-item disabled">StatusEvent</li>
                        <li class="list-group-item disabled">TeamAddEvent</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Note: If you want to go deeper into what each kind of event represents then take a look to the <a
                href="https://developer.github.com/v3/activity/events/types/" target="_blank">GitHub's documentation</a>.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
            <ul class="list-inline spk-footer-items">
                <li><img src="../img/megaphone-2-16.png"></li>
                <li>See project on <a target="_blank" href="https://github.com/barriosnahuel/spokesman#spokesman">GitHub</a></li>
                <li>
                    [<a target="_blank" href="https://twitter.com/justkenchu">@justkenchu</a> | <a href="mailto:barrios.nahuel@gmail.com">barrios.nahuel@gmail.com</a>]
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-toggle.min.js"></script>
<script src="../js/jsrender.min.js"></script>

<script src="../js/fend/settings.js"></script>

<script id="branchInputTemplate" type="text/x-jsrender">
    <li>
        <div class="spk-branch spk-inner-addon spk-right-addon">
            <input type="text" class="form-control" placeholder="{{:placeholder}}" {{if name}}value="{{:name}}"{{/if}}>
            <span class="glyphicon glyphicon-ok spk-input-feedback" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </li>
</script>

<script id="supportedEventTemplate" type="text/x-jsrender">
    <li class="list-group-item list-group-item-success">
        <div class="spk-supported-event">
            <div class="pull-left">
                {{:event}} {{if isNew}} <span class="label label-warning">New</span> {{/if}}
            </div>
            <div class="pull-right">
                <input type="checkbox" {{if enabled}} checked {{/if}} class="pull-right" value="{{:event}}">
            </div>
        </div>
    </li>
</script>

</body>
</html>